h2{
    text-align: center;
    text-transform: lowercase;
    color: rgb(10, 2, 122);
}

.sites {
    background-color: black;
    height: 50px;

    padding-top: 30px;
}

body {
    padding-left: 40px;
}

.parents {
    display: flex;

}

.left {

    width: 70%;

}

.right {
    background-color:grey;
    width: 30%;
    height: auto;
}

span {
    padding-left: 9px;
    background-color: red;
}

.inline {
    display: inline;
}

.block {
    display: block;
    background-color: violet;
}

p.clipped {
    border: hotpink solid;
    height: 30px;
}

p.autoscroll {
    border: hotpink solid;
    height: 30px;
}

.autoscroll {
    overflow: auto;
}

.clipped {
    overflow: hidden;
}